#header_site {
	.header__region {
		float: right;
		.block-menu {
			display: none;
			margin: 1rem 0 1.5rem 0;
			background-color: transparent;
			float: right;
		}
		.block-search {
			clear: both;
			input#edit-search-block-form--2 {
				border-collapse: collapse;
				width: 13.8rem;
				font-family: MiloWeb, sans-serif;
				font-weight: normal;
				font-size: 1.125rem;
				line-height: 1em;
				border: 1px solid #d3d7de;
				background-color: #eef1f1;
				color: #333333;
				padding: .5rem;
			}
			input#edit-submit {
				text-indent: -9999em;
				background: url('../images/search-icon.png');
				width: 40px;
				height: 40px;
				background-size: 70%;
				border: 0;
				background-repeat: no-repeat;
				background-position: 2px 4px;
				margin-left: 0.2em;
			}
		}
	}
}
@media (min-width: 768px) {
	#header_site .header__region .block-menu { display: block; }
}