#main_nav {
	clear: both;
	.block-superfish {
		border-top: 2px solid #eef1f1;
		text-align: center;
		ul.menu {
			width: 100%;
			list-style: none;
			li {
				padding-right: 3rem;
				a {
					// color: $ua-red;
					color: #395180;
					text-transform: uppercase;
					font-weight: bold;
					font-size: 1.2rem;
					letter-spacing: 0.03em;
					&:hover {
						// color: #CC665E;
						color: #7B89AE;
						text-decoration: none;
					}
				}
				ul {
					padding: 1.5em 1em 1em;
					li {
						a {
							font-size: 0.9em;
							color: #fff;
							font-weight: normal;
							padding: 0.3em;
							text-transform: none;
							&:hover {
								// background: $ua-red;
								// color: #FFF;
								background: #DBE8EA;
								color: #076873;
							}
						}
					}
				}
			}
			li.last {
				padding-right: 0;
			}
			li > a {
				padding: 1em 0;
			}
		}
		select {
			width: 14rem;
			margin: 1.2rem 0;
		}
	}
	.tinynav-wrapper {
		padding: 1em 0;
		select.tinynav.tinynav1 {
			margin: 0 auto;
		}
	}
}
ul.sf-menu li ul {
	background-color: rgba(12, 35, 75, 0.8); 
	background-image: url('../images/menu-triangle.png');
	background-position: 2em 0;
	background-repeat: no-repeat;
}
.sf-menu li:hover > ul, .sf-menu li.sfHover > ul {
	top: 100%;
}