/* MAIN ELEMENTS */
/* line 3, ../../sass/catstrap/catstrap-zen.scss */
html {
  background-color: #e6e3d9;
}

/* HEADER */
/* line 9, ../../sass/catstrap/catstrap-zen.scss */
#header_site .header__region {
  float: right;
  clear: right;
  text-align: center;
}
/* line 14, ../../sass/catstrap/catstrap-zen.scss */
#header_site .header__region .block-menu {
  display: none;
  margin: 1rem 0 1.5rem 0;
  background-color: transparent;
  float: right;
}
/* line 20, ../../sass/catstrap/catstrap-zen.scss */
#header_site .header__region #block-search-form {
  float: right;
  clear: right;
  margin: 0;
}
/* line 24, ../../sass/catstrap/catstrap-zen.scss */
#header_site .header__region #block-search-form .form-item {
  display: inline;
}
/* line 26, ../../sass/catstrap/catstrap-zen.scss */
#header_site .header__region #block-search-form .form-item input {
  border-collapse: collapse;
  width: 13.8rem;
  font-family: MiloWeb, sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1em;
  border: 0;
  background-color: #eef1f1;
  color: #333333;
  padding: .5rem;
  outline: 0;
}
/* line 40, ../../sass/catstrap/catstrap-zen.scss */
#header_site .header__region #block-search-form .form-actions {
  display: inline;
}
/* line 42, ../../sass/catstrap/catstrap-zen.scss */
#header_site .header__region #block-search-form .form-actions input[type="submit"] {
  text-indent: -9999em;
  background: url("../images/search-icon.png");
  width: 40px;
  height: 40px;
  width: 2.5rem;
  height: 2.5rem;
  background-size: 24px 24px;
  background-size: 1.5rem 1.5rem;
  border: 0;
  background-repeat: no-repeat;
  background-position: 9px 7px;
  outline: 0;
}
/* line 57, ../../sass/catstrap/catstrap-zen.scss */
#header_site .header__region #block-search-form form {
  border: 1px solid #d3d7de;
  background-color: #eef1f1;
  color: #333333;
  width: 272px;
  width: 17rem;
  margin: 0 auto 24px;
  margin: 0 auto 1.5rem;
}
/* line 68, ../../sass/catstrap/catstrap-zen.scss */
#header_site #utility_links {
  display: none;
  clear: both;
}
/* line 71, ../../sass/catstrap/catstrap-zen.scss */
#header_site #utility_links ul {
  font-family: 'MiloWeb-Medium';
}
/* line 73, ../../sass/catstrap/catstrap-zen.scss */
#header_site #utility_links ul li {
  margin: 0;
  padding: 0;
}
/* line 78, ../../sass/catstrap/catstrap-zen.scss */
#header_site #utility_links ul li a,
#header_site #utility_links ul li a:link,
#header_site #utility_links ul li a:visited {
  color: #49595E;
  padding: 1rem 0.5rem 0.5rem;
  margin: 0;
}
/* line 84, ../../sass/catstrap/catstrap-zen.scss */
#header_site #utility_links ul li a:hover, #header_site #utility_links ul li a:focus, #header_site #utility_links ul li a:active,
#header_site #utility_links ul li a:link:hover,
#header_site #utility_links ul li a:link:focus,
#header_site #utility_links ul li a:link:active,
#header_site #utility_links ul li a:visited:hover,
#header_site #utility_links ul li a:visited:focus,
#header_site #utility_links ul li a:visited:active {
  text-decoration: underline;
  color: #49595E;
}
/* line 89, ../../sass/catstrap/catstrap-zen.scss */
#header_site #utility_links ul li.last a {
  padding-right: 0;
}

@media screen and (min-width: 48em) {
  /* line 97, ../../sass/catstrap/catstrap-zen.scss */
  #header_site .header__region .block-menu {
    display: block;
  }
  /* line 99, ../../sass/catstrap/catstrap-zen.scss */
  #header_site .block-search {
    padding-top: 1rem;
  }
  /* line 101, ../../sass/catstrap/catstrap-zen.scss */
  #header_site #utility_links {
    display: block;
    clear: none;
  }
  /* line 104, ../../sass/catstrap/catstrap-zen.scss */
  #header_site #utility_links ul {
    text-align: right;
  }
  /* line 106, ../../sass/catstrap/catstrap-zen.scss */
  #header_site #utility_links ul li {
    float: none;
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  /* line 111, ../../sass/catstrap/catstrap-zen.scss */
  #header_site #utility_links ul li.last a {
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  /* line 119, ../../sass/catstrap/catstrap-zen.scss */
  #header_site #search {
    width: 100%;
    float: none;
    clear: both;
  }
}
/* NEWS */
/* line 130, ../../sass/catstrap/catstrap-zen.scss */
.view-news .views-row {
  float: left;
  width: 100%;
  border-bottom: 2px solid #eef1f1;
  padding: 24px 0;
  padding: 1.5rem 0;
}
/* line 137, ../../sass/catstrap/catstrap-zen.scss */
.view-news .views-row .views-field-field-news-photos img {
  width: 100%;
  height: auto;
  padding-right: 24px;
  padding-right: 1.5rem;
}
/* line 147, ../../sass/catstrap/catstrap-zen.scss */
.view-news .views-row .views-field-title h2 {
  margin-top: 1rem;
  margin-bottom: 4px;
  margin-bottom: 0.2rem;
}
/* line 154, ../../sass/catstrap/catstrap-zen.scss */
.view-news .views-row .views-field-field-news-publish-date span {
  display: block;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #999;
  padding-bottom: 4px;
  padding-bottom: 0.2rem;
}

@media (min-width: 30em) {
  /* line 167, ../../sass/catstrap/catstrap-zen.scss */
  .view-news .views-row .views-field-field-news-photos img {
    float: left;
    max-width: 240px;
    width: 100%;
    height: auto;
  }

  /* line 173, ../../sass/catstrap/catstrap-zen.scss */
  .view-news .views-row .views-field-title h2 {
    margin-top: 0;
  }
}
/* FOOTER */
/* line 182, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site .footer-logo {
  margin: 0 0 1rem;
  max-width: 400px;
}
/* line 185, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site .footer-logo img {
  max-height: 100px;
}
/* line 187, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site > .container {
  border-bottom: 1px solid #8E8C85;
}
/* line 188, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site ul {
  display: inherit;
}
/* line 189, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site ul.menu {
  display: block;
  margin: 0;
  padding: 16px 0 0;
  padding: 1rem 0 0;
  text-align: center;
}
/* line 195, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site ul.menu > li {
  display: inline-block;
  list-style: none;
  padding: 0 12px;
  padding: 0 .75rem;
  border-right: 1px solid #a8a69d;
}
/* line 202, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site ul.menu > li.last {
  border-right: 0;
}
/* line 207, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site #footer_sub .container {
  padding-top: 0.5rem;
}
/* line 209, ../../sass/catstrap/catstrap-zen.scss */
footer#footer_site #footer_sub .container > * {
  font-size: 0.96rem;
}

@media (min-width: 992px) {
  /* line 216, ../../sass/catstrap/catstrap-zen.scss */
  footer#footer_site .footer-logo {
    float: left;
    margin: 0 1rem 1rem 0;
  }
}
/* SIDE MENUS */
@media screen and (min-width: 60em) {
  /* line 225, ../../sass/catstrap/catstrap-zen.scss */
  .sidebar ul.menu {
    list-style: none outside none;
    padding: 0;
    margin: 0;
  }
  /* line 229, ../../sass/catstrap/catstrap-zen.scss */
  .sidebar ul.menu li {
    list-style: none outside none;
    padding: 0;
    margin: 0;
    display: block;
  }
  /* line 237, ../../sass/catstrap/catstrap-zen.scss */
  .sidebar ul.menu li > a,
  .sidebar ul.menu li > a:link,
  .sidebar ul.menu li > a:visited {
    position: relative;
    padding: 0.625rem 1rem;
    text-decoration: none;
    font-weight: normal;
    display: block;
    color: #333;
  }

  /* line 250, ../../sass/catstrap/catstrap-zen.scss */
  .region-sidebar-first .menu > li > a:hover,
  .region-sidebar-first .menu > li > a:focus,
  .region-sidebar-first .menu > li.active a,
  .region-sidebar-first .menu > li a.active {
    background: url("../images/sidebar-menu-chevron-left.png") no-repeat scroll 100% center/30px 100% #dee8e7;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    color: #076873;
    text-decoration: none;
  }

  /* line 261, ../../sass/catstrap/catstrap-zen.scss */
  .region-sidebar-second .menu > li > a:hover,
  .region-sidebar-second .menu > li > a:focus,
  .region-sidebar-second .menu > li.active a,
  .region-sidebar-second .menu > li a.active {
    background: url("../images/sidebar-menu-chevron-right.png") no-repeat scroll 0 center/30px 100% #dee8e7;
    border-bottom: 0 solid rgba(0, 0, 0, 0);
    color: #076873;
    text-decoration: none;
  }
}
