/**
 * Users objects overriden from the drush casperjs defaults.
 *
 * The default user object array is in the drush casperjs's
 * casperjs/includes/session.js file.
 */
casper.drupalUsers = [
  {
    "key": "admin",
    "label": "Administrator",
    "name" : "USER1NAME",
    "pass" : "USER1PASS"
  }
];

